nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 120px;
    color: #fff;
    background-color: #4056A1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

#tweeter {
    font-family: "Bungee", sans-serif;
    margin-left: 1.5em;
}

.write-tweet-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}

#write-tweet {
    font-family: "Source+Sans+Pro:wght", sans-serif;
    margin-right: 1.5em;
    height: 100%;
}

i {
    color: red;
}

